/*
general
*/

body{
    margin: 0px auto;
}

section{
    background-size: 100%;
    background-position-y: -50px;
    height: 610px;
}

/*
top page
*/

section.top-page{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2FDqvzYzquj813i%2Fgiphy.gif&f=1&nofb=1");
}

div{
    padding-top: 100px;
    padding-left: 10px;
    color: #fff;
}

h1.title, p.citation{
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 1px 1px 2px #000000;
}

h1.title{
    font-size: 70px;
}

p.citation{
    font-size: 20px;
}


/*
paquito
*/

section.paquito{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2F6vdKiBjUZ2LKw%2F200.gif%3Fcid%3D790b76116e24t3kqtvmvfej2jydrdeqo7t4x0fmpmr47misx%26rid%3D200.gif%26ct%3Dg&f=1&nofb=1");
}

section.paquito div{
    padding-top: 250px;
}

/*
love
*/

section.love{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F14nq1vY7PUdx04%2Fgiphy.gif&f=1&nofb=1");
    background-size: 110%;
    background-position-y: -110px;
}

section.love div{
    padding-top: 250px;
}

/*
copains
*/

section.copains{
    background-image: url("https://i.ytimg.com/vi/Ik2U1Fdr-gk/maxresdefault.jpg");
}

section.copains div{
    padding-top: 250px;
}

/*
votons pour lui
*/

section.votons-pour-lui{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia4.giphy.com%2Fmedia%2FUR3yeRxw6qf60%2F200.gif%3Fcid%3D790b7611d0c43510cb8335c1fc2daf3d5064ee1ed6f8e1ea%26rid%3D200.gif%26ct%3Dg&f=1&nofb=1");
}

section.votons-pour-lui div{
    padding-top: 250px;
}

/*
paquito geant
*/

section.paquito-geant{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F31.media.tumblr.com%2Ftumblr_m74m3miYmp1qedb29o1_500.gif&f=1&nofb=1");
}

section.paquito-geant div{
    padding-top: 250px;
}

/*
besoin de vous
*/

section.besoin-de-vous{
    background-image: url("https://file1.closermag.fr/var/closermag/storage/images/1/2/5/8/1/12581185/lorsque-jean-lassalle-antoine-caunes-coupent-bois.png?alias=exact1024x768_l");
    background-position-y: -250px;
}

section.besoin-de-vous div{
    padding-top: 250px;
}

/*
votons jean lassalle
*/

section.votons-jean-lassalle{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2FudxJPMt4mEuUo%2Fsource.gif&f=1&nofb=1");
    background-size: 110%;
    background-position: 0px;
}

section.votons-jean-lassalle div{
    padding-top: 250px;
}

div.votons-jean-lassalle p{
    font-size: 50px;
}

